body, head, header {
    position: relative;
    margin: 0%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0F0F0F;

}

h1 {
    color: #0F0F0F;
}

body {
    background-color: #232D3F;
}


main {
    height: fit-content;
}

textarea {
    resize: none;
}

ul {
    list-style-type: none;
    width: 100%;
}

li {
    width: 100%;
}

#div_header {
    background-color:black;
    height:100%;
    width:100%;
}

#div_code {
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#div_exercices {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
}

#div_textarea_code {
    width: 98%;
    height: 100%;
}

#div_tools{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:0.6rem;
}

#label_title_home {
    color:gray;
    font-size: 4rem;
    color: #232D3F;
}


#list_exercice {
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 100%;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-right: 0.8rem;
}


#section_code {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#section_terminal{
    height: 10rem;
    width: 98.8%;
    margin-top: 2%;
    margin-left: 0.6%;
}


#textarea_terminal {
    height: 100%;
    width: 100%;
}


#textarea_code {
    width: 100%;
    margin-top: 2%;
    height: inherit;
    background-color: #101123;
}

div_tool .{
}


li .btn_exercices {
    background-color: #364259;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    
}


.btn_exercices {
    width:inherit;
}

/*
<!-- HTML !-->
<button class="button-20" role="button">Button 20</button>

/* CSS */
.button-20 {
  }
  
  .button-20:focus:not(:focus-visible),
  .button-20:focus {
    outline: 0;
  }
  
  .button-20:hover {
    background-color: #3733E5;
    border-color: #3733E5;
  }
  
  .button-20:focus {
    background-color: #413FC5;
    border-color: #3E3BBA;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
  }
  
  .button-20:active {
    background-color: #3E3BBA;
    background-image: none;
    border-color: #3A38AE;
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
  }
  
  .button-20:active:focus {
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
  }
  
  .button-20:disabled {
    background-image: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
  }
*/

