body, head, header {
    position: relative;
    margin: 0%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10%;
}

body {
    height: inherit;
}

html {
    height: 100%;
}

main {
    height: fit-content;
}

textarea {
    resize: none;
}

ul {
    list-style-type: none;
    width: 110%;
}

li {
    width: 100%;
}

#div_header {
    background-color:black;
    height:100%;
    width:100%;
}

#div_code {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.6;
}

#div_exercices {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 100%;
}

#div_textarea_code {
    width: 100%;
    height: 100%;
}

#div_tools{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:0.4%
}

#label_title_home {
    color:gray;
    font-size: 4rem;
}


#list_exercice {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}


#section_code {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

#section_terminal{
    height: 10rem;
    width: 98.8%;
    margin-top: 2%;
    margin-left: 0.6%;
}


#textarea_terminal {
    height: 100%;
    width: 100%;
}


#textarea_code {
    width: 100%;
    height: 42rem;
}


.btn_exercices {
    width:inherit;
}
